// // Variables


@font-face
  font-family: 'Franklin'
  src: url('./fonts/LibreFranklin-Medium.eot?') format('eot'), url('./fonts/LibreFranklin-Medium.woff') format('woff'), url('./fonts/LibreFranklin-Medium.ttf') format('truetype'), url('./fonts/LibreFranklin-Medium.svg') format('svg')
  font-weight: normal
  font-style: normal
  text-rendering: optimizeLegibility
@font-face
  font-family: 'Franklin'
  src: url('./fonts/LibreFranklin-ExtraBold.eot?') format('eot'), url('./fonts/LibreFranklin-ExtraBold.woff') format('woff'), url('./fonts/LibreFranklin-ExtraBold.ttf') format('truetype'), url('./fonts/LibreFranklin-ExtraBold.svg') format('svg')
  font-weight: bold
  font-style: normal
  text-rendering: optimizeLegibility

\:root
  --m: 2.5rem
  --font-text: 'Franklin', sans-serif
  --font-headers: 'Franklin', sans-serif
  --fontsize-small     : 1.5rem
  --fontsize-default   : 1.75rem
  --fontsize-big       : 2.25rem
  --fontsize-bigger    : 2.75rem
  --fontsize-subtitle  : 3.25rem
  --fontsize-title     : 4rem
  --lineheight-default : 1.6
  --height-header      : 60px

  // Colors
  --color-text: #1a1a1a
  --color-background: white

@media all and (min-width: 960px)
  \:root
    --fontsize-small     : 1.5rem
    --fontsize-default   : 1.8rem
    --fontsize-big       : 2.3rem
    --fontsize-bigger    : 2.8rem
    --fontsize-subtitle  : 3.3rem
    --fontsize-title     : 4.3rem
    --lineheight-default : 1.6

@import base/*
@import components/*
