@charset "UTF-8";
@font-face {
  font-family: "Franklin";
  src: url("./fonts/LibreFranklin-Medium.eot?") format("eot"), url("./fonts/LibreFranklin-Medium.woff") format("woff"), url("./fonts/LibreFranklin-Medium.ttf") format("truetype"), url("./fonts/LibreFranklin-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility; }
@font-face {
  font-family: "Franklin";
  src: url("./fonts/LibreFranklin-ExtraBold.eot?") format("eot"), url("./fonts/LibreFranklin-ExtraBold.woff") format("woff"), url("./fonts/LibreFranklin-ExtraBold.ttf") format("truetype"), url("./fonts/LibreFranklin-ExtraBold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
  text-rendering: optimizeLegibility; }
:root {
  --m: 2.5rem;
  --font-text: "Franklin", sans-serif;
  --font-headers: "Franklin", sans-serif;
  --fontsize-small: 1.5rem;
  --fontsize-default: 1.75rem;
  --fontsize-big: 2.25rem;
  --fontsize-bigger: 2.75rem;
  --fontsize-subtitle: 3.25rem;
  --fontsize-title: 4rem;
  --lineheight-default: 1.6;
  --height-header: 60px;
  --color-text: #1a1a1a;
  --color-background: white; }

@media all and (min-width: 960px) {
  :root {
    --fontsize-small: 1.5rem;
    --fontsize-default: 1.8rem;
    --fontsize-big: 2.3rem;
    --fontsize-bigger: 2.8rem;
    --fontsize-subtitle: 3.3rem;
    --fontsize-title: 4.3rem;
    --lineheight-default: 1.6; } }
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers. */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE. */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms
 * ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Remove the inner padding in Chrome and Safari on macOS. */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
 * ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc
 * ========================================================================== */
/**
 * Add the correct display in IE 10+. */
template, [hidden] {
  display: none; }

/**
 * Add the correct display in IE 10. */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: crosshair; }

body {
  font-family: var(--font-text);
  font-size: var(--fontsize-default, 1.5rem);
  line-height: var(--lineheight-default, 1.6);
  color: var(--color-grey, #111);
  overflow-x: hidden;
  background-color: var(--color-background); }

body.navigation {
  overflow: hidden; }

h1, h2, h3, h4, h5 {
  font-family: var(--font-headers); }

h1 {
  font-size: var(--fontsize-title, 2.5rem);
  line-height: var(--lineheight-title, 1.5); }

h2 {
  font-size: var(--fontsize-subtitle, 2.25rem);
  line-height: var(--lineheight-subtitle, 1.5); }

h3 {
  font-size: var(--fontsize-bigger, 2rem);
  line-height: var(--lineheight-bigger, 1.5); }

h4 {
  font-size: var(--fontsize-big, 1.75rem);
  line-height: var(--lineheight-big, 1.5); }

h5 {
  font-size: var(--fontsize-default, 1.5rem);
  line-height: var(--lineheight-default, 1.5); }

h1, h2, h3, h4, h5 {
  margin-top: 0; }

::-webkit-scrollbar {
  height: 25px;
  width: 6px;
  background: #555; }

::-webkit-scrollbar-thumb {
  background-color: black; }

::selection {
  background-color: #111;
  color: white; }

[contenteditable]:focus {
  border: none;
  outline: none; }

button {
  border: 0;
  border-radius: 0;
  background: none;
  line-height: 40px;
  font-size: var(--fontsize-small); }

button:hover,
button label:hover {
  cursor: pointer; }

img, video, iframe {
  max-width: 100%; }

.hidden {
  display: none; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.about {
  padding: 12px 0;
  display: grid;
  justify-content: space-between;
  align-items: middle;
  grid-template-columns: 50% 50%;
  grid-gap: 24px;
  background-color: rgba(0, 0, 0, 0.5); }

.about__logo {
  max-height: 48px;
  margin-left: 12px; }
  .about__logo:hover {
    cursor: pointer; }

.about__launcher {
  filter: invert(1);
  display: inline-block;
  transition: color 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: right;
  margin-right: 30px;
  font-size: 0.7em; }
  .about__launcher:hover {
    color: #f9d1d5; }

.about-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 250000;
  color: #2a4b48;
  padding: 48px;
  background-color: #f9d1d5;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease; }
  .about-modal .inner {
    max-width: 900px;
    margin: 0 auto; }

.about-modal.faded {
  pointer-events: none;
  opacity: 0; }

.about-modal__close {
  position: absolute;
  right: 48px;
  top: 48px;
  height: 48px;
  filter: invert(24%) sepia(23%) saturate(718%) hue-rotate(125deg) brightness(95%) contrast(90%); }
  .about-modal__close:hover {
    cursor: pointer; }

.about-modal .inner {
  position: absolute;
  top: 50%;
  width: 100%;
  position: relative;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between; }

.about-modal__text {
  font-size: 1.5em;
  line-height: 1.1;
  margin-top: 36px;
  opacity: 0.5em; }

.about-modal__credits {
  position: fixed;
  right: 24px;
  bottom: 24px;
  font-size: 12px;
  text-align: right; }

.about-modal__credit-logo {
  max-width: 180px; }

.about-modal__logo {
  height: auto;
  max-width: 360px; }

.app-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 25% 1fr;
  overflow: hidden; }

.app-container__left {
  background-color: #111;
  position: relative;
  z-index: 10000; }

.app-container__right {
  position: relative;
  background: linear-gradient(#444, #000); }

.audio-player {
  position: absolute;
  top: 12px;
  left: 0;
  width: auto;
  display: none;
  padding: 12px;
  background: rgba(0, 0, 0, 0.33); }

.has-audio .audio-player {
  display: flex;
  align-items: center; }

.audio-player__actions {
  padding: 0;
  margin: 0 0 0 12px;
  filter: invert(1); }
  .audio-player__actions li {
    list-style: none;
    display: inline; }
    .audio-player__actions li:hover {
      cursor: pointer; }

.button-success {
  background: #00c4b4;
  color: white;
  transition: background-color 0.2s ease-out; }
  .button-success:hover {
    background: #00ab9d; }

.credits {
  position: fixed;
  bottom: 12px;
  right: 12px;
  z-index: 50000;
  max-width: 124px;
  color: white;
  font-size: 10px;
  line-height: 1.1; }

.credits__logo {
  margin-top: 8px; }

.hotspot--link {
  width: 40px; }
  .hotspot--link:hover {
    cursor: pointer; }

.hotspot--link img {
  padding: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  transition: filter 0.2s ease; }
  .hotspot--link img:hover {
    filter: invert(1); }

.hotspot--text {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: inline-block;
  padding: 6px 12px;
  font-size: 2rem; }

.hotspot--video iframe {
  max-width: none;
  border: 0; }

.hotspot__close--video {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center; }

#uploader {
  z-index: -1; }

#scene {
  width: 100%;
  height: 100%;
  font-size: var(--fontsize-small); }

#scene > canvas {
  display: none; }

#scene.active > canvas {
  display: block; }

#scene.faded {
  opacity: 0.1; }

.scene__selection-text {
  display: none;
  color: white;
  font-size: var(--fontsize-small); }

.faded + .scene__selection-text {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.scene__selection-cancel {
  background-color: #111;
  color: white;
  padding: 0px 12px;
  display: block;
  width: 120px;
  margin: 18px auto;
  text-transform: uppercase;
  transition: filter 0.2s ease; }
  .scene__selection-cancel:hover {
    filter: invert(1); }

.scene-actions {
  position: absolute;
  top: 12px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.33);
  border-radius: 3px;
  display: none;
  z-index: 20000; }

#scene.active + .scene-actions {
  display: block; }

.scene-actions__items {
  padding: 6px 12px;
  margin: 0;
  position: relative;
  top: 4px; }

.scene-actions__item {
  display: inline;
  list-style: none;
  margin: 0 6px; }
  .scene-actions__item img {
    filter: invert(1); }

.scene-actions__item:hover {
  cursor: pointer; }
  .scene-actions__item:hover img {
    opacity: 0.75; }

#scene:not(.active):after {
  content: "No hay ninguna escena seleccionada actualmente";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.video-controls {
  position: absolute;
  left: 0;
  bottom: 80px;
  background-color: rgba(0, 0, 0, 0.33);
  color: white;
  padding: 12px 12px 12px 24px;
  display: none; }

.video-controls__action {
  filter: invert(1);
  position: relative;
  top: 6px;
  margin-right: 12px; }
  .video-controls__action:hover {
    cursor: pointer; }

.has-video .video-controls {
  display: block; }

[data-tooltip] {
  position: relative; }
  [data-tooltip]:after {
    position: absolute;
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    width: 120px;
    font-weight: normal;
    top: 36px;
    right: 0;
    z-index: 10000;
    content: attr(data-tooltip);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    color: #222; }

[data-tooltip-left]:after {
  right: inherit;
  left: 0; }

[data-tooltip]:hover:after {
  opacity: 1; }

.project-title {
  z-index: 100000;
  color: white;
  display: inline-block;
  font-weight: bold; }

.view-scenes {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden; }

.view-scenes__header {
  height: 48px;
  padding: 12px; }

.view-scenes:not(.active):after {
  content: "No se ha subido ninguna escena. Puedes arrastrar los archivos aquí para subirlos";
  position: absolute;
  left: 50%;
  font-size: var(--fontsize-small);
  top: 50%;
  transform: translate(-50%, -50%);
  color: white; }

.view-scenes__actions {
  display: inline-block;
  position: absolute;
  right: 12px;
  top: -6px;
  z-index: 1000; }

.view-scenes__actions [data-action="add-audio"] {
  opacity: 0.33; }
  .view-scenes__actions [data-action="add-audio"].active {
    opacity: 1; }

.view-scenes__action {
  display: inline;
  list-style: none; }
  .view-scenes__action img {
    filter: invert(1); }
  .view-scenes__action:hover {
    cursor: pointer; }

.project-audio.hidden {
  display: none !important; }

.project-audio {
  display: flex;
  padding: 0 12px 12px;
  align-items: center;
  justify-content: center; }

.project-audio__actions {
  margin: 0 0 0 12px;
  padding: 0; }

.project-audio__action {
  list-style: none;
  display: inline;
  position: relative;
  top: 4px; }
  .project-audio__action:hover {
    cursor: pointer; }

.project-audio__action img {
  filter: invert(1); }

.view-scenes__items {
  z-index: -1000; }

.view-scenes__item {
  background: #111;
  color: white;
  transition: background-color 0.2s ease;
  position: relative; }

.view-scenes__item:hover {
  background: #222;
  color: white; }

.view-scenes__item-image {
  vertical-align: top; }

.view-scenes__item-image:hover,
.view-scenes__item-video:hover {
  cursor: pointer; }

.view-scenes__item-name {
  margin: 0;
  padding: 6px 0;
  font-size: 0.7em;
  max-width: calc(100% - 72px);
  text-overflow: ellipsis;
  position: relative;
  font-weight: bold; }
  .view-scenes__item-name:hover {
    cursor: text; }

.view-scenes__item-meta {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.33); }

.view-scenes__item-actions {
  margin: 0;
  padding: 0; }

.view-scenes__item-action {
  list-style: none;
  display: inline;
  position: relative;
  top: 4px; }
  .view-scenes__item-action img {
    filter: invert(1); }

.view-scenes__item-action--audio {
  opacity: 0.5; }
  .view-scenes__item-action--audio.active {
    opacity: 1; }

.view-scenes__item-action:hover {
  cursor: pointer;
  opacity: 0.75; }

.view-scenes__item-action--pin {
  opacity: 0.5; }

.view-scenes__item-action--pin.active {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
