// BASE

*
  box-sizing: border-box

html
  font-size: 62.5%
  scroll-behavior: smooth
  cursor: crosshair

body
  font-family: var(--font-text)
  font-size: var(--fontsize-default, 1.5rem)
  line-height: var(--lineheight-default, 1.6)
  color: var(--color-grey, #111)
  overflow-x: hidden
  background-color: var(--color-background)

body.navigation
  overflow: hidden

// Defaults from Bootstrap

h1, h2, h3, h4, h5
  font-family: var(--font-headers)

h1
  font-size: var(--fontsize-title, 2.5rem)
  line-height: var(--lineheight-title, 1.5)
h2
  font-size: var(--fontsize-subtitle, 2.25rem)
  line-height: var(--lineheight-subtitle, 1.5)
h3
  font-size: var(--fontsize-bigger, 2rem)
  line-height: var(--lineheight-bigger, 1.5)
h4
  font-size: var(--fontsize-big, 1.75rem)
  line-height: var(--lineheight-big, 1.5)
h5
  font-size: var(--fontsize-default, 1.5rem)
  line-height: var(--lineheight-default, 1.5)

h1, h2, h3, h4, h5
  margin-top: 0

::-webkit-scrollbar
  height: 25px
  width: 6px
  background: #555

::-webkit-scrollbar-thumb
  background-color: black

::selection
  background-color: #111
  color: white

[contenteditable]:active
[contenteditable]:focus
  border: none
  outline: none

button
  border: 0
  border-radius: 0
  background: none
  line-height: 40px
  font-size: var(--fontsize-small)
button:hover,
button label:hover
  cursor: pointer

img, video, iframe
  max-width: 100%

.hidden
  display: none