// Nicolas Gallagher clearfix
// @see http://nicolasgallagher.com/micro-clearfix-hack/

=clearfix
  *zoom: 1
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

// Mobile-first breakpoint mixins

// Breakpoints
$breakpoints: ( xs: 0px, sm: 600px, md: 960px, lg: 1280px, xl: 1920px ) !default

// Breakpoint mixin
=breakpoint($resolution)
  @media screen and (min-width: map-get($breakpoints, $resolution))
    @content

// Link colors
=link_colors($l, $h, $t: none)
  a:link
    color: $l
  a:visited
    color: $l
  a:hover
    color: $h
  a:active
    color: $l
  @if $t
    a
      transition: $t

@keyframes fadein
  0%
    opacity: 0
  100%
    opacity: 1
