/* Rendered pano CSS */

body { 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  font-family: 'Libre Franklin', sans-serif !important;
  font-size: 12px;
}

#pano { 
  height: 100vh; 
  width: 100%; 
}

.hotspot--link {
  width: 40px;
}

.hotspot--link:hover {  
  cursor: pointer;
}

.hotspot--link img {
  padding: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
  transition: filter .2s ease;
}

.hotspot--link img:hover {  
  filter: invert(1);
}

.hotspot--text {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.25rem;
  font-weight: bold;
}

.hotspot--video iframe {
  max-width: none;
  border: 0;
}

.hotspot__close--video {
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  color: white;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
}

.landing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(2, 9, 9, .95);
}

.landing__button {
  background: white;
  color: rgb(2,9,9);
  line-height: 40px;
  border: 0;
  padding: 0 24px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: background-color .2s ease;
  margin-left: 144px;
  transform: translateX(-50%)
}

.landing__button:hover {
  cursor: pointer;
  background: #ede4d8;
}

.landing__logo {
  max-width: 240px; 
  padding: 24px;
  display: block;
  margin-bottom: 24px;
}