.about
  padding: 12px 0
  display: grid
  justify-content: space-between
  align-items: middle
  grid-template-columns: 50% 50%
  grid-gap: 24px
  background-color: rgba(black, .5)

.about__logo
  max-height: 48px
  margin-left: 12px
  &:hover
    cursor: pointer

.about__launcher
  filter: invert(1)
  display: inline-block
  transition: color .2s ease
  text-transform: uppercase
  letter-spacing: 2px
  text-align: right
  margin-right: 30px
  font-size: .7em
  &:hover
    color: #f9d1d5

.about-modal
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  text-align: center
  z-index: 250000
  color: #2a4b48
  padding: 48px
  background-color: #f9d1d5
  opacity: 1
  pointer-events: all
  transition: opacity .5s ease
  .inner
    max-width: 900px
    margin: 0 auto

.about-modal.faded
  pointer-events: none
  opacity: 0

.about-modal__close
  position: absolute
  right: 48px
  top: 48px
  height: 48px
  &:hover
    cursor: pointer
  filter: invert(24%) sepia(23%) saturate(718%) hue-rotate(125deg) brightness(95%) contrast(90%)

.about-modal .inner
  position: absolute
  top: 50%
  width: 100%
  position: relative
  transform: translateY(-50%)
  display: flex
  justify-content: space-between

.about-modal__text
  font-size: 1.5em
  line-height: 1.1
  margin-top: 36px
  opacity: .5em

.about-modal__credits
  position: fixed
  right: 24px
  bottom: 24px
  font-size: 12px
  text-align: right

.about-modal__credit-logo
  max-width: 180px
  
.about-modal__logo
  height: auto
  max-width: 360px
