.app-container
  display: grid
  height: 100vh
  grid-template-columns: 25% 1fr
  overflow: hidden
.app-container__left
  background-color: #111
  position: relative
  z-index: 10000
.app-container__right
  position: relative
  background: linear-gradient(#444, #000)
