.audio-player
  position: absolute
  top: 12px
  left: 0
  width: auto
  display: none
  padding: 12px
  background: rgba(black, .33)
  
.has-audio .audio-player
  display: flex
  align-items: center

.audio-player__actions
  padding: 0
  margin: 0 0 0 12px
  filter: invert(1)
  li
    list-style: none
    display: inline
    &:hover
      cursor: pointer