.hotspot--link
  width: 40px
  &:hover
    cursor: pointer

.hotspot--link img
  padding: 10px
  background: white
  border-radius: 50%
  box-shadow: 0 0 10px black
  transition: filter .2s ease
  &:hover
    filter: invert(1)

.hotspot--text
  background-color: rgba(black, .75)
  color: white
  display: inline-block
  padding: 6px 12px
  font-size: 2rem

.hotspot--video iframe
  max-width: none
  border: 0

.hotspot__close--video
  position: absolute
  background-color: rgba(black, .5)
  color: white
  width: 12px
  height: 12px
  line-height: 12px
  text-align: center