#uploader
  z-index: -1

#scene
  width: 100%
  height: 100%
  font-size: var(--fontsize-small)

#scene > canvas
  display: none

#scene.active > canvas
  display: block

#scene.faded
  opacity: .1

.scene__selection-text
  display: none
  color: white
  font-size: var(--fontsize-small)
  
.faded + .scene__selection-text
  display: block
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  text-align: center
  
.scene__selection-cancel
  background-color: #111
  color: white
  padding: 0px 12px
  display: block
  width: 120px
  margin: 18px auto
  text-transform: uppercase
  transition: filter .2s ease
  &:hover
    filter: invert(1)

.scene-actions
  position: absolute
  top: 12px
  right: 0
  background-color: rgba(black, .33)
  border-radius: 3px
  display: none
  z-index: 20000

#scene.active + .scene-actions
  display: block
  
.scene-actions__items
  padding: 6px 12px
  margin: 0
  position: relative
  top: 4px
  
.scene-actions__item
  display: inline
  list-style: none
  margin: 0 6px
  img
    filter: invert(1)
  
.scene-actions__item:hover
  cursor: pointer
  img
    opacity: .75

#scene:not(.active):after
  content: "No hay ninguna escena seleccionada actualmente"
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  color: white

.video-controls
  position: absolute
  left: 0
  bottom: 80px
  background-color: rgba(black, .33)
  color: white
  padding: 12px 12px 12px 24px
  display: none

.video-controls__action
  filter: invert(1)
  position: relative
  top: 6px
  margin-right: 12px
  &:hover
    cursor: pointer

.has-video .video-controls
  display: block