[data-tooltip]
  position: relative
  &:after
    position: absolute
    background-color: #f5f5f5
    border-radius: 4px
    font-size: 12px
    text-align: center
    width: 120px
    font-weight: normal
    top: 36px
    right: 0
    z-index: 10000
    content: attr(data-tooltip)
    opacity: 0
    pointer-events: none
    transition: opacity .2s ease
    color: #222

[data-tooltip-left]:after
  right: inherit
  left: 0
  

[data-tooltip]:hover:after
  opacity: 1