.project-title
  z-index: 100000
  color: white
  display: inline-block
  font-weight: bold

.view-scenes
  position: relative
  height: 100vh
  overflow-y: auto
  overflow-x: hidden

.view-scenes__header
  height: 48px
  padding: 12px

.view-scenes:not(.active):after
  content: "No se ha subido ninguna escena. Puedes arrastrar los archivos aquí para subirlos"
  position: absolute
  left: 50%
  font-size: var(--fontsize-small)
  top: 50%
  transform: translate(-50%, -50%)
  color: white

.view-scenes__actions
  display: inline-block
  position: absolute
  right: 12px
  top: -6px
  z-index: 1000
  
.view-scenes__actions [data-action="add-audio"]
  opacity: .33
  &.active
    opacity: 1

.view-scenes__action
  display: inline
  list-style: none
  img
    filter: invert(1)
  &:hover
    cursor: pointer

.project-audio.hidden
  display: none !important
.project-audio
  display: flex
  padding: 0 12px 12px
  align-items: center
  justify-content: center
.project-audio__actions
  margin: 0 0 0 12px
  padding: 0
.project-audio__action
  list-style: none
  display: inline
  position: relative
  top: 4px
  &:hover
    cursor: pointer
.project-audio__action img
  filter: invert(1)

.view-scenes__items
  z-index: -1000

.view-scenes__item
  background: #111
  color: white
  transition: background-color .2s ease
  position: relative

.view-scenes__item:hover
  background: #222
  color: white

.view-scenes__item-image
  vertical-align: top

.view-scenes__item-image,
.view-scenes__item-video
  &:hover
    cursor: pointer

.view-scenes__item-name
  margin: 0
  padding: 6px 0
  font-size: .7em
  max-width: calc(100% - 72px)
  text-overflow: ellipsis
  position: relative
  font-weight: bold
  &:hover
    cursor: text

.view-scenes__item-meta
  padding: 6px 12px
  display: flex
  align-items: center
  justify-content: space-between
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  z-index: 1000
  background-color: rgba(black, .33)

.view-scenes__item-actions
  margin: 0
  padding: 0

.view-scenes__item-action
  list-style: none
  display: inline
  position: relative
  top: 4px
  img
    filter: invert(1)

.view-scenes__item-action--audio
  opacity: .5
  &.active
    opacity: 1

.view-scenes__item-action:hover
  cursor: pointer
  opacity: .75

.view-scenes__item-action--pin
  opacity: .5
.view-scenes__item-action--pin.active
  opacity: 1
